html.in-iframe #learn-more-link {
  display: none;
}

body, html {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #fff;
  color: #333;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #1E6DE8;
}
a:hover {
  text-decoration: underline;
}
#more-apps-by-dean {
  display: none;
}
#header {
  background: #fff;
  text-align: center;
}
#title {
  margin: 0;
  padding-top: 30px;
  margin-bottom: -10px;
  font-size: 70px;
}
#subtitle  {
  font-size: 45px;
}
#links {
  font-size: 20px;
}
#links .link {
  margin: 3px 0;
}
#aboutme-section {
  max-width: 910px;
  margin: 35px auto 50px;
  font-size: 21px;
}
#aboutme-section .about-text {
  text-align: left;
  position: relative;
  padding-left: 45px;
  padding-right: 5px;
}
#aboutme-section .about-text strong {
  font-weight: 600;
}
#aboutme-section .about-text .fa {
  position: absolute;
  left: 5px;
  top: 5px;
}
#clients-link {
  cursor: pointer;
  color: #1E6DE8;
}
#clients-link:hover {
  text-decoration: underline;
}

#services-out {
  background: #f5f5f5;
  text-align: center;
  border: 1px solid #eee;
  border-width: 1px 0;
}
#services {
  max-width: 1200px;
  margin: 0 auto;
  color: #615d6d;
  text-shadow: 0 1px #fff;
}
#services-title {
  font-size: 34px;
}
#services .service {
  display: inline-block;
  padding: 10px;
  margin: 10px 5px;
  font-size: 20px;
  width: 350px;
  cursor: default;
  vertical-align: top;
}
#services .service:hover {
  background: #fafafa;
}
.contact-me-btn {
  margin-top: 8px;
  margin-bottom: 8px;
}
.contact-me-btn .fa {
  width: 21px;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}

#portfolio-out {
  background: #fff;
  text-align: center;
}
#portfolio {
  margin: 0 auto;
  padding-top: 40px;
}
#portfolio-title {
  color: #615d6d;
  font-size: 34px;
  margin-bottom: 45px;
  cursor: pointer;
  display: inline-block;
}
#portfolio-title:hover {
  color: #999;
}
#shinyapps-big {
  overflow:hidden;
}
#shinyapps-big .shinyapp {
  color: #3d3852;
  margin: 0 30px 60px;
  background: #fff;
  transition: all 250ms;
  text-align: left;
  box-shadow: 0 0 20px #ccc;
  border: 1px solid #eee;
}
#shinyapps-big .shinyapp:hover {
  box-shadow: 0 0 20px #666;
  background: #f2f6f9;
  border-color: #aaa;
}
#shinyapps-big .shinyapp .apptitle {
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 15px;
}
#shinyapps-big .shinyapp .appimg {
  width: 100%;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}
#shinyapps-big .applink {
  color: inherit;
  display: block;
  text-decoration: none !important;
}
#shinyapps-big .shinyapp .appdesc {
  padding: 0 15px 15px;
  font-size: 16px;
  line-height: 1.5em;
}


.section-sep {
  border: 0 none;
  max-width: 700px;
  height: 2px;
  background: #eee;
  margin: 30px auto;
}
#qualifications .section-sep {
  background: #DDD;
  margin: 30px auto;
}
#services-out,
#clients-out,
#qualifications-out,
#more-links-out {
  color: #615d6d;
  text-align: center;
  padding: 40px 0;
}
#clients,
#qualifications,
#more-links {
  max-width: 910px;
  margin: 0 auto;
}
#clients-title,
#qualifications-title,
#more-links-title {
  text-align: center;
  font-size: 34px;
}
#clients-subtitle {
  font-size: 22px;
  margin: 20px 0 30px;
}
#clients a {
  display: inline-block;
  vertical-align: middle;
  padding: 15px;
}
#clients img {
  height: 80px;
}
#clients a:hover {
  box-shadow: 0 0 10px #aaa;
}

#qualifications-out {
  background: #f5f5f5;
  text-shadow: 0 1px #fff;
}
#qualifications-title {
  color: #615d6d;
  font-size: 34px;
  text-align: center;
  margin-bottom: 30px;
}
#qualifications-list {
  text-align: left;
}
#qualifications .more-info {
  font-size: 21px;
  margin-bottom: 20px;
  position: relative;
  line-height: 1.5em;
  padding-left: 35px;
}
#qualifications .more-info .fa {
  position: absolute;
  left: 0;
  top: 6px;
}

#more-links {
  text-align: left;
}
#more-links .shiny-apps {
  font-size: 18px;
  padding: 5px;
  margin-top: 30px;
}
#more-links .shiny-apps div {
  margin-bottom: 15px;
}

@media only screen and (max-width: 1179px) {
  #services .service {
    width: 300px;
    padding: 10px 5px;
  }
}
@media only screen and (max-width: 999px) {
  #services .service {
    width: 180px;
    font-size: 18px;
  }
}
@media only screen and (max-width: 650px) {
  #services .service {
    display: block;
    width: auto;
    margin: 0 auto;
  }
  #services {
    padding: 15px 0;
  }
  #portfolio-title {
    font-size: 28px;
  }
}
@media only screen and (min-width: 751px) {
  #title {
    margin-left: -175px;
    margin-bottom: -30px;
  }
  #subtitle {
    margin-left: 175px;
  }
}
@media only screen and (max-width: 750px) {
  #title {
    font-size: 40px;
  }
  #subtitle {
    font-size: 30px;
  }
  #titleBar {
    padding-bottom: 15px;
  }
  #links {
    font-size: 17px;
  }
}

.actionbtn {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  font-family: arial;
  text-align: center;
  vertical-align: middle;
  padding: 15px 30px;
  border-radius: 2px;
  background: #4fc949;
  font-size: 20px;
  color: #fff;
  text-decoration: none !important;
  cursor: pointer;
  letter-spacing: 1px;
  text-shadow: none;
}
.actionbtn:hover,
.actionbtn:focus {
  background: #3fb13a;
}
.schedule-btn {
  background: #ea9920;
}
.schedule-btn:hover,
.schedule-btn:focus {
  background: #ca8219;
}
.btns-sep {
  display: none;
}

#shinyapps-big[data-columns]::before {
	content: '3 .grid-col.size-1of3';
}
@media only screen and (max-width: 650px) {
  #shinyapps-big .shinyapp {
    margin:0 15px 30px;
  }
  #shinyapps-big[data-columns]::before {
    content: '2 .grid-col.size-1of2';
  }
}
@media only screen and (max-width: 500px) {
  #shinyapps-big[data-columns]::before {
    content: '1 .grid-col.size-1of1';
  }
}

.grid-col {
  display: inline-block;
  vertical-align: top;
  max-width: 450px;
}
.size-1of3 {
  width: 33.333%;
}
.size-1of2 {
  width: 50%;
}
.size-1of1 {
  width: 100%;
}
