body {
  background-color: #fafafa;
}

#header {
  text-align: center;
  color: #fdfdfd;
  text-shadow: 0 0 1px #000;
  padding: 30px 0 45px;
  border-bottom: 1px solid #ddd;
  margin: 0 -30px 20px;
  background: url('header.jpg');
}

#title {
  font-size: 5em;
  text-shadow: 0 0 5px #000;
  margin-bottom: 5px
}

#subsubtitle {
  font-size: 1.3em;
}

#subsubtitle a {
  color: #fdfdfd;
  text-decoration: underline;
}

.well {
  font-size: 1.2em;
  background-color: #fff;
  margin-top: 20px;
}

.well .shiny-input-container {
  width: 300px;
}

#leftPanel .shiny-input-container {
  width: auto;
}

pre {
  max-width: 700px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  border-top: 2px solid orange;
  border-bottom: 0;
  font-weight: bold;
}

.nav-tabs>li {
  margin-left: 7px;
}

.nav-tabs>li>a {
  background-color: #f8f8f8;
  border: 1px solid #dddddd;
}

.nav>li>a:hover,
.nav>li>a:focus {
  background-color: #dddddd;
}

#leftPanel {
  padding: 0;
}

#storageTypePanel {
  background-color: orange;
  padding: 19px 19px 5px;
  font-size: 1.2em;
}

#storageDesc h4 {
  font-weight: bold;
}

#appDesc {
  padding: 19px;
  font-weight: bold;
}

#created-by-dean {
  font-weight: normal;
  font-size: 0.9em;
}

.dataTables_scrollHeadInner,
.dataTable {
  width: 100%;
}
