/* CSS Document */
/*
	----------------------------
	RESET
	____________________________
*/
body,img,p,h1,h2,h3,h4,h5,h6,form,table,td,ul,ol,li,fieldset { margin:0; padding:0; border:0; }
p,h1,h2,h3,h4,h5,h6,ul { margin:15px 0; }